.carousel-control-next-icon {
  background-color: #000000;
  color: white;
  border-radius: 50%;
  padding: 5px;
}
.carousel-control-prev-icon {
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 5px;
}

.slick-prev:before {
  background-color: black;
  margin-bottom: -100px;
  border-radius: 50%;
  padding: 2px;
}
.slick-next:before {
  background-color: black;
  border-radius: 50%;
  padding: 2px;
}
// ------- PRoduct details ---------------
.imageOptions {
  display: block;
}
/* Media query for screens narrower than 750px */
@media (max-width: 768px) {
  .imageOptions {
    display: flex;
    flex-wrap: wrap;
  }
}
// ========================= ABOUT US ==================================

// infinite vertical scrolling animation
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30%); /* Moves up to half the content for a seamless loop */
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite; /* Slowed to 60 seconds */
}


// ---- Media query ----
/* Default size for smaller screens (below 400px) */
@media (max-width: 399px) {
  .image-container {
    width: 50px;
    height: 50px;
  }
}

/* Default size for screens above 400px (default) */
.image-container {
  width: 50px;
  height: 50px;
  margin: 0.5rem;
}

.image-container img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

/* For medium screens (>= 640px) */
@media (min-width: 640px) {
  .image-container {
    width: 100px;
    height: 100px;
  }
}

/* For large screens (>= 1024px) */
@media (min-width: 1024px) {
  .image-container {
    width: 200px;
    height: 200px;
  }
}




.MissionHandLogo {
  font-size: 25px !important;
  color: #c7295f;
}
.vertical-timeline-element-content {
  margin-left: 50px !important;
  margin-right: -10px !important;
}

.vertical-timeline::before {
  background: #232323;
  width: 4px;
}
@media (min-width: 1025px) {
  .vertical-timeline::before {
    margin-left: 30px !important;
  }
}
@media (max-width: 1024px) {
  .vertical-timeline-element-content{
    margin-top: 30px !important;
  }
}
// ================== Product Card ====================
.ProductCard_image{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}
